<div class="container mt-5" style="width: 600px;">
  <div id="formContent" style="background-color: #272727; opacity: 80%;" class="p-3 text-white">

    <h2 class="active text-white">ERROR</h2>
    <h5 class="mb-4">You need to login</h5>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input type="text" id="login" class="form-control" name="login" placeholder="login" formControlName="username">
      </div>
      <div class="validation mb-2" *ngIf="form.get('username').touched && form.get('username').invalid">
        <small style="color: brown;" *ngIf="form.get('username').errors.required">Это поле обязательное</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" class="form-control" name="login" placeholder="password"
          formControlName="password">
        <div class="validation mb-2" *ngIf="form.get('password').touched && form.get('password').invalid">
          <small style="color: brown;" *ngIf="form.get('password').errors.required">Это поле обязательное</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
    </form>
  </div>
</div>
